.Githubjobs {
	background-color: #24292e;
	color: #fff;
	height: 76vh;
	overflow-y: scroll;
	padding: 2px 0;
	text-align: center;
	width: 300px;
}
a {
	color: #fff;
	height: 100%;
	text-decoration: none;
	width: 100%;
}
.job {
	border: 1px solid #fff;
	margin: 10px;
}
