.Indeedjobs {
	background-color: #3163f2;
	color: #fff;
	height: 76vh;
	overflow-y: scroll;
	padding: 2px 0;
	text-align: center;
	width: 20%;
}
a {
	color: #fff;
	height: 100%;
	text-decoration: none;
	width: 100%;
}
.Indeedjob {
	border: 1px solid #fff;
	margin: 10px;
}
